.sign-up-section {
  padding: 7rem  0;
}

.input{
  margin: 1rem;
  padding: 2rem;
}

.driver-signup-btn button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  border: none;
}

.driver-info-section .input{
  margin:0 1rem 0 0;
}
.driver-info-section{
  margin: 1rem 0;
}
.driver-address-section .input{
    margin:0 1rem 0 0;

}
.driver-vehicle-section{
  margin: 1rem 0;
}
.driver-vehicle-section .input{
    margin:0 1rem 0 0;
}
.driver-info-section{
    margin: 1rem 0;

}
.driver-info-section .input{
    margin:0 1rem 0 0;

}
.driver-vehicle-section .one{
  margin: 1rem 1rem 1rem 0;
}
/* .driver-vehicle-section .one{
  margin:0 1rem 0 0;
} */
.selectclass2{
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}