.testimony {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  padding: 2rem;
  width: 90%;
  transition: var(--transition);
}

.testimony:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: var(--transition);
}

.rating i {
  color: rgb(236, 236, 43);
  padding-bottom: 1rem;
}

.testimony h2 {
  font-size: 16px;
  color: var(--subtext-color);
}

.testimony p {
  font-size: 14px;
  color: var(--subtext-color);
  padding: 1rem 0;
}

.user-profile {
  display: flex;
}

.user-profile img {
  margin-right: 1rem;
}

label {
  margin-top: -1rem;
  color: #25a0ff;
}

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
    margin: 5rem 0;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}
