:root {
  --primary-color: #1f3e76;
  --secondary-color: #ffffff;
  --header-color: #244886;
  --text-color: #0f2137;
  --subtext-color: #343d48;
  --transition: all 400ms ease-in-out;
}

body {
  background: white;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

li {
  list-style: none;
}
